body {
    color: blue;
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  form {
    color: red;
    max-width: 400px;
        margin: auto;
  }

  label {
    color: purple;
    margin-bottom: 8px;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  header,main,aside,footer{
    padding:20px ;
    text-align: center;
    background-color:aqua;
    color: white;
  }


  .container{
    display: flex;
    width:80%;
    margin:0 auto;
  }

  main{
    flex: 2;
  }

  aside{
    flex: 1;
    border-left: 1px solid bisque;
    background-color: brown;
  }
  
  .flex-container{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
    background-color:yellow;
  }
  .flex-item{
    background-color:#3498db;
    color:white;
    padding:10px;
    margin:5px;
  }
  .grid-container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:10px;
  }
  .grid-item{
    background-color:#2ecc71;
    color:white;
    padding:20px;
    text-align:center;
  }
  .content{
    background-color:#f0f0f0;
    padding:20px;
    text-align:center;
  }
/*Default styles*/
#heading{
  color:#333;
}
#description{
  color:#666;
}
/*media queries*/

@media screen and(max-width:1600px){
  #heading{
    font-size:20px;
  }
}
#description{
  font-size:14px;
}

@media screen and(max-width:720px){
  #heading{
    font-size:20px;
  }
}
#description{
  font-size:14px;
}